.neosrulez-bootstrap-sectionmenu-component-sectionmenunavigation-wrapper { position: relative;
  .neosrulez-bootstrap-sectionmenu-component-sectionmenunavigation { position: sticky; }
}
.sectionmenunavigation-item {
  span { cursor: pointer; }
}